<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="FullRegression"  parallel="methods" thread-count="4" >
       <test name="Full Regression">
        <classes>
            <class name="test.FullRegressionTest" >

                <methods>
                    <include name="test1"></include>
                    <include name="test2"></include>
                    <include name="test3"></include>
                    <include name="test4"></include>
                </methods>
            </class>

        </classes>
    </test>



</suite>